name: "02 - Workflow Events"

on: 
    # pull_request:
    #schedule: 
    #  - cron: '*/5 * * * *' 
  workflow_dispatch:
    

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Display Information
        run: echo "I've been triggered by a(n) ${{github.event_name}} event."


