name: 15 - Working with Matrices

on:
  workflow_dispatch:


jobs:
  backwards-compatibility:
    name: ${{matrix.os}}-${{matrix.node-version}}
    runs-on: ${{matrix.os}}                           # old ubuntu-latest
    strategy:                           # define strategy and matix values, syntax
      matrix:
        node-version: ['18.x', '20.x', '21.x']
        os:
            - ubuntu-latest
            - windows-latest
    steps:
     - name: Setup node
       uses: actions/setup-node@v4
       with: 
        node-version: ${{matrix.node-version}}
     - name: Peform some tests
       run: echo "Runngs tests on OS ${{matrix.os}} and NodeJS ${{matrix.node-version}}"
     