name: 16 - Working with Environments
#run-name: 16 - Working with Environments | env - {{inputs.target-env}}

on:
  workflow_dispatch:
    #inputs:
     # target-env:
       # type: environment
      #  default: staging

jobs:
  deploy-staging: 
    runs-on: ubuntu-latest
    #environment: {{inputs.target-env}}
    environment: staging
    env:
      my-env-value: ${{vars.MY_ENV_VALUE || 'default value'}}      # MY_ENV_VALUE is defined in github prod env. if not then default
    steps:
      - name: Echo vars
        run: |
          #echo "Env variable: {{env.my-env-value}}"
          echo "Deploying to staging"
  e2e-tests:
    runs-on: ubuntu-latest
    needs: deploy-staging
    steps:
      - name: E2E tests
        run: echo "Running E2E"

  deploy-prod-frontend:               # If users are defined, in github settings, a reviewer user can be added for prod, the job waits for review.
    runs-on: ubuntu-latest
    needs: e2e-tests
    environment: prod
    env:
      my-env-value: ${{vars.MY_ENV_VALUE || 'default value'}}     
    steps:
      - name: Echo vars
        run: |
          echo "Deploying to Prod frontend"
  deploy-prod-backend1:               
    runs-on: ubuntu-latest
    needs: e2e-tests
    environment: prod
    env:
      my-env-value: ${{vars.MY_ENV_VALUE || 'default value'}}     
    steps:
      - name: Echo vars
        run: |
          echo "Deploying to Prod backend 1"
  deploy-prod-backend2:               
    runs-on: ubuntu-latest
    needs: e2e-tests
    environment: prod
    env:
      my-env-value: ${{vars.MY_ENV_VALUE || 'default value'}}     
    steps:
      - name: Echo vars
        run: |
          echo "Deploying to Prod backend 2"