name: 18.3 - Reusable Workflows

on:
  workflow_dispatch

jobs:
  deploy:
    uses: ./.github/workflows/18-1-reusable-workflows.yaml
    with: 
      target-directory: dummy-dir
  e2etests:
    uses: gsingh52/github-actions-course-example-e2e/.github/workflows/e2e.yaml@main #<owner>/<repo>/.github/workflows/<workflow_name>@<version>

  print-outputs:
    runs-on: ubuntu-latest
    needs: deploy
    steps:
      - name: Print outputs
        run: |
          echo "Build Status: ${{needs.deploy.outputs.build-status}} "
          echo "URL: ${{needs.deploy.outputs.url}}"